body {
    margin: 0 auto;
    font-family: Arial;
    background-color: #ffffff;

    width: 1440px;
    height: 900px;
  }
  .box-style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 32px 32px;
    text-align: center;
    position: absolute;
    width: 414px;
    height: 535.74px;
    left: 513px;  
    top: 182.13px;

    /* White */

    background: #ffffff;
    /* Shadow */

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
  }

  .box-style2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
 
    /* position: static; */
    width: 350px;
    height: 168px;
    left: 382px;
    top: 159.74px;
 
    transform: matrix(1, 0, 0, 1, 0, 0);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 64px 0px;
  }
  .frameEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 350px;
    height: 72px;
    left: 0px;
    top: 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
   
  }
  .framePassword {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 350px;
    height: 72px;
    left: 0px;
    top: 96px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
  }
  .boxTextField {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;

    position: static;
    width: 416px;
    height: 44px;
    left: 0px;
    top: 28px;

    /* Medium gray */

    border: 1px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 11px 0px;
  }

  .aboveTxtField {
    position: static;
    width: 104px;
    height: 17px;
    left: 0px;
    top: 0px;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    /* Black */

    color: #303136;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 11px 0px;
  }
  .aboveTxtField2 {
    position: static;
    width: 70px;
    height: 17px;
    left: 0px;
    top: 0px;


    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    /* Black */

    color: #303136;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 11px 0px;
  }
  .textInEmail{
      
position: static;
width: 290px;
height: 20px;
left: 24px;
top: 12px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
padding: 0px;
border:transparent;
/* Dark gray */

color: #909090;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
  }
  .textInPasswordField{
     
position: static;
width: 168px;
height: 20px;
left: 24px;
top: 12px;

border: transparent;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Dark gray */

color: #909090;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
  }

  .buttonsContainer{
      display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 416px;
height: 112px;
left: 32px;
top: 391.74px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 64px 0px;
  }
  .buttonLogIn{
      display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
border:transparent;

position: static;
width: 416px;
height: 52px;
left: 350px;
top: 0px;

/* Primary */

background: #2351D4;
border-radius: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
  }
  .buttonLogIn:hover{
      background-color: #739DDB; /* Green */
color: white;
  }

  .buttonRegister{
      display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
border:transparent;
position: static;
width: 416px;
height: 52px;
left: 350px;
top: 60px;

/* Secondary */

background: #EFF3FD;
border-radius: 16px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
  }
  .buttonRegister:hover{
      background-color: #E1F1F5; 
color: white;
  }
  .textLogInButton{
      
position: static;
width: 52px;
height: 20px;
left: 149px;
top: 16px;


font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

  }
  
  .textRegisterButton{
      
position: static;
width: 68px;
height: 20px;
left: 141px;
top: 16px;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Primary */

color: #2351D4;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
  }